cmake-build-*/

./build

.idea/

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

*.exe
*.out
*.app

*.log
*.cache
*.vscode/

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

.DS_Store
Thumbs.db
